@import '~bootstrap/scss/bootstrap';

.text-muted {
  color: #6c757d !important;
}

.button-styles {
  max-width: 100px;
  text-align: center;
  font-size: calc(0.45rem + 0.45vw);
  margin-left: 2em;
  align-self: start;
}

@media screen and (max-width: 600px) {
  .button-styles {
    padding: 0.25rem;
  }

  .post-font-size {
    font-size: 3vw;
  }
}